
BookStore/Domain/obj/project.nuget.cache
BookStore/Domain/obj/project.assets.json
BookStore/Domain/obj/Domain.csproj.nuget.g.props
BookStore/Domain/obj/Domain.csproj.nuget.dgspec.json
BookStore/Domain/obj/Debug/netcoreapp3.1/Domain.csprojAssemblyReference.cache
BookStore/Domain/obj/Debug/netcoreapp3.1/Domain.assets.cache
BookStore/Core/obj/project.nuget.cache
BookStore/Core/obj/project.assets.json
BookStore/Core/obj/Debug/netcoreapp3.1/Core.csprojAssemblyReference.cache
BookStore/Core/obj/Debug/netcoreapp3.1/Core.assets.cache
BookStore/Core/obj/Core.csproj.nuget.g.props
BookStore/Core/obj/Core.csproj.nuget.dgspec.json
BookStore/BookStore/obj/project.nuget.cache
BookStore/BookStore/obj/project.assets.json
BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csprojAssemblyReference.cache
BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.assets.cache
BookStore/BookStore/obj/BookStore.csproj.nuget.g.props
BookStore/BookStore/obj/BookStore.csproj.nuget.dgspec.json
BookStore/BLL/obj/project.nuget.cache
BookStore/BLL/obj/project.assets.json
BookStore/BLL/obj/Debug/netcoreapp3.1/BLL.csprojAssemblyReference.cache
BookStore/BLL/obj/Debug/netcoreapp3.1/BLL.assets.cache
BookStore/BLL/obj/BLL.csproj.nuget.g.props
BookStore/BLL/obj/BLL.csproj.nuget.dgspec.json
