@model BookStore.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="grid">
    <form asp-action="Login" class="form login">

        <header class="login__header">
            <h3 class="login__title">Login</h3>
        </header>

        <div class="login__body">

            <div class="form__field">
                <input asp-for="Login" type="text" placeholder="User Name" required>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form__field">
                <input asp-for="Password" type="password" placeholder="Password" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form__field">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isRememberMe" /> @Html.DisplayNameFor(model => model.isRememberMe)
                </label>
            </div>

        </div>

        <footer class="login__footer">
            <input type="submit" value="Login">

        </footer>

    </form>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
