
@{
    ViewData["Title"] = "ResetPassword";
}

<h1>Enter email</h1>

<form asp-controller="Account" asp-action="ResetPassword">
    <div class="form-group">
        <input class="col-3" placeholder="Email" type="email" name="userEmail" data-val-required="The Email field is required." id="Email"  />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success btn-block col-3" value="RESET PASSWORD" />
    </div>
</form>