@model IEnumerable<BLL.ModelsDto.CategoryDto>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<script>
    $(".category-item").click(function (e) {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Home/GetBooks")',
            data: { Id = $('#id').val()}, 
            success: function (data) {
                $('#mainRow').html(data);
            }
        });
        $.ajax({
            type: 'POST',
            url: '/Home/GetBooks',
            data: { parameters: JSON.stringify(new localList("IStoreProduct").items()) },
            success: function (responce) {
                $(".shop_table tbody").html(responce);
                $(".qty").each(function () {
                    subtotal($(this));
                });
                totalpricecart();
            }
        });

    });

</script>
@foreach (var item in Model)
{
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
        <a class="category category-item" >
            @Html.Hidden("id", item.Id)
            @item.CategoryName
        </a><span class="badge badge-primary badge-pill">@item.CategoryCount</span>
    </li>
}